@media (max-width:480px) {
    main {
        flex-direction: column;
    }

    .hamberger {
        color: none;
        border: none;
        color: bisque;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .hamberger::after {
        content: "\2630";
        font-size: 2rem;
    }

    .hamburger::before {
        content: "\2630";
    }

    .hamburger.show::before {
        content: "\00D7";
    }

    .navigation {
        display: none;
    }

    #about-me-section {
        display: flex;
        flex-direction: column;
    }

    #about-me-text {
        padding: .8rem 10px;

    }

    #about-me-picture {
        scale: .7;
    }

    .course-controls {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: .8rem 10px;
    }

    .filter-btn {
        min-width: 120px;
        max-width: 443px;
        padding: 10px 20px;
        font-size: 16px;
        margin-right: 20px;
    }

    .course-card {
        padding: .8rem 10px;
    }

    .course-card h3 {
        margin: 0 0 10px;
        font-size: 15px;
    }
}